<% content_for :load_vuejs do %>
  <%= javascript_pack_tag 'impression_vue' %>
<% end %>

<h2 class="post-form-title">マンガの感想を投稿してみよう！</h2>

<div id="js-impression-new" class="post-form">
  <div class="post-form-modal" v-if="isModal">
    <div class="siimple-spinner siimple-spinner--blue"></div>
  </div>
  <div class="post-form-container">
    <%= form_with model: @impression, url: api_impressions_path, local: true, html: { '@submit.prevent' => 'onSubmit' } do |form| %>
      <div class="siimple-form-field">
        <div class="siimple-form-field-label">マンガのタイトル</div>
        <input
          type="text"
          v-model="formData.comicTitle"
          name="impression[comic_title]"
          class="siimple-input post-form-fluid"
          required>
        <p v-if="errors.comicTitle.hasError">{{ errors.comicTitle.message }}</p>
      </div>

      <!-- <div class="siimple-form-field">
        <div class="siimple-form-field-label">読んだ後の気持ち</div>
        <div class="post-form-emotions">
          <% Emotion.order(:id).each do |emotion| %>
            <div class="post-form-emotions-item">
              <div class="siimple-checkbox">
                <input
                  id="emotion<%= emotion.id %>"
                  type="checkbox"
                  v-model="formData.emotions"
                  value="<%= emotion.id %>" />
                <label for="emotion<%= emotion.id %>"></label>
              </div>
              <label class="siimple-label"><%= emotion.name %></label>
            </div>
          <% end %>
        </div>
      </div> -->

      <div class="siimple-form-field">
        <div class="siimple-form-field-label">読んだ後の気持ち</div>
        <div class="post-form-emotions">
          <div class="post-form-emotions-field">
            <p class="post-form-emotions-label">楽しみ</p>
            <star-rating
              :increment="0.5"
              :star-size="35"
              v-model="emotions.joy" />
          </div>

          <div class="post-form-emotions-field">
            <p class="post-form-emotions-label">悲しみ</p>
            <star-rating
              :increment="0.5"
              :star-size="35"
              v-model="emotions.sorrow" />
          </div>

          <div class="post-form-emotions-field">
            <p class="post-form-emotions-label">期待</p>
            <star-rating
              :increment="0.5"
              :star-size="35"
              v-model="emotions.expectation" />
          </div>
        </div>
      </div>

      <div class="siimple-form-field">
        <div class="siimple-form-field-label">心揺さぶられたシーン</div>
        <input
          type="text"
          v-model="formData.bestScene"
          name="impression[best_scene]"
          class="siimple-input post-form-fluid"
          required>
        <p v-if="errors.bestScene.hasError">{{ errors.bestScene.message }}</p>
      </div>

      <div class="siimple-form-field">
        <div class="siimple-form-field-label">感想</div>
        <textarea
          v-model="formData.report"
          name="impression[report]"
          class="siimple-textarea post-form-fluid"
          rows="10"
          required></textarea>
        <p v-if="errors.report.hasError">{{ errors.report.message }}</p>
      </div>

      <div class="siimple-form-field">
        <input type="submit" value="Tweet" data-disable-with="Tweet" class="siimple-btn siimple-btn--blue post-form-button">
      </div>
    <% end %>

    <div id="js-capture-area" class="capture">
      <capture-area :comic-title="formData.comicTitle"
                    :emotions="emotions"
                    :best-scene="formData.bestScene"
                    :report="formData.report"></capture-area>
    </div>
  </div>
</div>


<img src="" id="test-image" />
