<%= link_to 'ログアウト', logout_path, method: :delete %>

<% content_for :load_vuejs do %>
  <%= javascript_pack_tag 'impression_vue' %>
<% end %>

<div id="js-impression-new">
  <%= form_with model: @impression, url: impressions_path, local: true do |form| %>
    <div class="siimple-form-field">
      <div class="siimple-form-field-label">タイトル</div>
      <input type="text" v-model="formData.comicTitle" name="impression[comic_title]" class="siimple-input">
    </div>

    <div class="siimple-form-field">
      <div class="siimple-form-field-label">感情</div>
      <% Emotion.order(:id).each do |emotion| %>
        <div class="siimple-checkbox">
          <input id="emotion<%= emotion.id %>" type="checkbox" v-model="formData.emotions" value="<%= emotion.id %>" />
          <label for="emotion<%= emotion.id %>"></label>
        </div>
        <label class="siimple-label"><%= emotion.name %></label>
      <% end %>
    </div>

    <div class="siimple-form-field">
      <div class="siimple-form-field-label">ベストシーン</div>
      <input type="text" v-model="formData.bestScene" name="impression[best_scene]" class="siimple-input">
    </div>

    <div class="siimple-form-field">
      <div class="siimple-form-field-label">感想</div>
      <textarea v-model="formData.report" name="impression[report]" class="siimple-input"></textarea>
    </div>

    <div class="siimple-form-field">
      <input @click.prevent="onSubmit" type="submit" value="Tweet" data-disable-with="Tweet" class="siimple-btn siimple-btn--blue">
    </div>
  <% end %>

  <div id="js-capture-area" class="capture">
    <capture-area :comic-title="formData.comicTitle"
                  :selected-emotions="formData.emotions"
                  :best-scene="formData.bestScene"
                  :report="formData.report"></capture-area>
  </div>
</div>


<img src="" id="test-image" />
