<%= link_to 'ログアウト', logout_path, method: :delete %>
<h1>投稿</h1>
<%= form_with model: @impression, url: impressions_path, local: true do |form| %>
  <div class="siimple-form-field">
    <div class="siimple-form-field-label">タイトル</div>
    <%= form.text_field :comic_title, class: 'siimple-input' %>
  </div>

  <div class="siimple-form-field">
    <div class="siimple-form-field-label">感情</div>
    <%= collection_check_boxes :impression, :emotion_ids, Emotion.order(:id), :id, :name do |box| %>
      <%= box.label { box.check_box + box.text } %>
    <% end %>
  </div>

  <div class="siimple-form-field">
    <div class="siimple-form-field-label">ベストシーン</div>
    <%= form.text_field :best_scene, class: 'siimple-input' %>
  </div>

  <div class="siimple-form-field">
    <div class="siimple-form-field-label">感想</div>
    <%= form.text_area :report, class: 'siimple-input' %>
  </div>

  <div class="siimple-form-field">
    <%= submit_tag 'Tweet', class: 'siimple-btn siimple-btn--blue' %>
  </div>
<% end %>
