<% content_for :load_vuejs do %>
  <%= javascript_pack_tag 'impression_vue' %>
<% end %>

<%= render 'eye_catch' %>

<div id="js-impression-new" class="post-form">
  <div class="post-form-modal" v-if="isModal">
    <div class="siimple-spinner siimple-spinner--blue"></div>
  </div>
  <share-menu-modal
    :post-data="postData"
    @close-menu="closeShareMenu"
    v-if="isDisplayShareMenu">
  </share-menu-modal>
  <div class="post-form-container">
    <%= form_with model: @impression, url: api_impressions_path, local: true, html: { '@submit.prevent' => 'onSubmit' } do |form| %>
      <div class="siimple-form-field">
        <div class="siimple-form-field-label post-form-label">
          漫画のタイトル
        </div>
        <div class="siimple-grid">
          <div class="siimple-grid-row">
            <suggest-title-text-form
              :errors="errors.comicTitle"
              @change-title="changeTitle">
            </suggest-title-text-form>

            <div class="siimple-grid-col siimple-grid-col--2">
              <input
                type="number"
                v-model="formData.volumeNumber"
                name="impression[volume_number]"
                class="siimple-input post-form-fluid"
                placeholder="巻数" />
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="siimple-form-field">
        <div class="siimple-form-field-label post-form-label">
          おすすめ度
        </div>
        <div class="post-form-emotions">
          <div class="post-form-emotions-field">
            <star-rating
              :increment="0.5"
              :star-size="35"
              v-model="formData.evaluationPoint" />
          </div>
        </div>
      </div>
      <br>
      <div class="siimple-form-field">
        <div class="siimple-form-field-label post-form-label">
          読んだ後の気持ち
        </div>
        <div class="post-form-emotions">
          <% Emotion.order(:id).each do |emotion| %>
            <div class="post-form-emotions-item">
              <div class="siimple-checkbox">
                <input
                  id="emotion<%= emotion.id %>"
                  type="checkbox"
                  v-model="formData.emotions"
                  value="<%= emotion.id %>" />
                <label for="emotion<%= emotion.id %>"></label>
              </div>
              <label class="siimple-label"><%= emotion.name %></label>
            </div>
          <% end %>
        </div>
      </div>
      <br>
      <div class="siimple-form-field">
        <div class="siimple-form-field-label post-form-label">
          感想
        </div>
        <textarea
          v-model="formData.report"
          name="impression[report]"
          class="siimple-textarea post-form-fluid"
          rows="10"
          placeholder="感想を入力してね！"
          required></textarea>
        <p v-if="errors.report.hasError">{{ errors.report.message }}</p>
      </div>

      <div class="siimple-form-field">
        <input type="submit" value="Tweet" data-disable-with="Tweet" class="siimple-btn siimple-btn--blue post-form-button">
      </div>
    <% end %>

    <div id="js-capture-area" class="capture">
      <capture-area :comic-title="formData.comicTitle"
                    :volume-number="formData.volumeNumber"
                    :evaluation-point="formData.evaluationPoint"
                    :report="formData.report"
                    :emotions="formData.emotions"></capture-area>
    </div>
  </div>
</div>


<img src="" id="test-image" />
