<div class="users">
  <div class="siimple-box siimple-box--blue users-box">
    <%= image_tag @user.avater, class: 'users-image' %>
    <h1 class="siimple-box-subtitle"><%= @user.nickname %></h1>
    <p>頑張って投稿していきます</p>
  </div>

  <div class="users-impressions">
    <p>投稿した感想一覧</p>
    <ul class="users-impressions-list">
      <% @user.impressions.each do |impression| %>
        <li class="users-impressions-list-item">
          <div>
            <p class="users-impressions-on"><%= l(impression.created_at, format: :long) %></p>
            <%= link_to "#{impression.comic_title}の感想", impression_path(impression), class: 'users-impressions-title' %>
            <p class="users-impressions-content"><%= impression.report %></p>
            <% impression.emotions.each do |emotion| %>
              <span class="siimple-tag siimple-tag--blue"><%= emotion.name %></span>
            <% end %>
          </div>
          <%= link_to '削除', impression_path(impression),
                      method: :delete,
                      class: 'siimple-btn siimple-btn--red',
                      data: { confirm: '削除してもよろしいですか？' } %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
