<div class="users">
  <div class="siimple-box siimple-box--blue users-box">
    <%= image_tag @user.avater, class: 'users-image' %>
    <h1 class="siimple-box-subtitle"><%= @user.nickname %></h1>
    <p>頑張って投稿していきます</p>
  </div>

  <div class="users-impressions">
    <p>投稿した感想一覧</p>
    <ul class="users-impressions-list">
      <% @user.impressions.each do |impression| %>
        <li class="users-impressions-list-item">
          <p class="users-impressions-on"><%= impression.created_at %></p>
          <p class="users-impressions-title"><%= impression.comic_title %>の感想</p>
          <p class="users-impressions-content"><%= impression.report %></p>
          <% impression.emotions do |emotion| %>
            <span class="siimple-tag siimple-tag--blue"><%= emotion.name %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
