<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags(default_meta_tags) %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>

  <body>
    <header id="js-header" class="header">
      <div class="header-container">
        <%= image_tag asset_pack_path('images/logo.png'), class: 'header-logo' %>
        <div class="header-menu-button">
          <el-dropdown trigger="click">
            <span class="el-dropdown-link">
              Menu<i class="el-icon-arrow-down el-icon--right"></i>
            </span>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>マイページ</el-dropdown-item>
              <el-dropdown-item>
                <a rel="nofollow" data-method="delete" href="/logout">ログアウト</a>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </div>
      </div>
    </header>

    <%= yield %>

    <%= javascript_pack_tag 'application' %>
    <%= yield :load_vuejs %>
  </body>
</html>
