<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('/favicon.ico') %>
    <%= display_meta_tags(default_meta_tags) %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>

  <body>
    <% if notice %>
      <div id="js-alert" class="siimple-alert siimple-alert--success" v-show="isShow">
        <%= notice %>
      </div>
    <% end %>

    <%= yield %>

    <footer class="footer">
      <div class="footer-contents">
        <div class="footer-links">
          <%= link_to 'トップページ', root_path %>
          <%= link_to '利用規約', terms_path %>
          <%= link_to 'お問い合わせ', new_inquiry_path %>
        </div>
        <span>Copyright © 2018 まんがのおばけ All Rights Reserved.</span>
      </div>
    </footer>
    <%= javascript_pack_tag 'application' %>
    <%= yield :load_vuejs %>
  </body>
</html>
