<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags(default_meta_tags) %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>

  <body>
    <% if logged_in? %>
      <header id="js-header" class="header">
        <div class="header-container">
          <%= image_tag asset_pack_path('images/logo.png'), class: 'header-logo' %>
          <div class="header-menu-button">
            <el-dropdown trigger="click">
              <span class="el-dropdown-link header-menu-button-link">
                Menu<i class="el-icon-arrow-down el-icon--right"></i>
              </span>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item>
                  <%= link_to '感想投稿', new_impression_path, class: 'header-menu-link' %>
                </el-dropdown-item>
                <el-dropdown-item>
                  <%= link_to 'マイページ', user_path(current_user), class: 'header-menu-link' %>
                </el-dropdown-item>
                <el-dropdown-item>
                  <%= link_to 'ログアウト', logout_path, method: :delete, class: 'header-menu-link' %>
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </div>
        </div>
      </header>
    <% end %>

    <% if notice %>
      <div id="js-alert" class="siimple-alert siimple-alert--success" v-show="isShow">
        <%= notice %>
      </div>
    <% end %>

    <%= yield %>

    <%= javascript_pack_tag 'application' %>
    <%= yield :load_vuejs %>
  </body>
</html>
